MaisVendidos Ecommerce.json
{
  "name": "MaisVendidos Ecommerce",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        160
      ],
      "id": "3283bca0-5eda-4143-a272-972b3cd19dbc",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://www.mercadolivre.com.br/mais-vendidos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/04.1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        32
      ],
      "id": "c4e1ce7a-edb9-4c9c-a3b6-139b26936bdd",
      "name": "Mercado libre",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;\nconst secoesMap = {}; // Balde para agrupar produtos por seção\n\nconst regexTitulo = /\"title\":\"(.*?)\"/g;\nlet match;\n\nwhile ((match = regexTitulo.exec(data)) !== null) {\n    const titulo = match[1];\n    const inicio = Math.max(0, match.index - 500);\n    const fim = Math.min(data.length, match.index + 1200);\n    const pedacoTexto = data.substring(inicio, fim);\n\n    const matchLink = pedacoTexto.match(/\"permalink\":\"(.*?)\"/);\n    if (!matchLink) continue;\n\n    const linkFinal = matchLink[1].replace(/\\\\u002F/g, '/');\n\n    // FILTRO: Ignora links de menus e listas de \"mais-vendidos\" (os que geram o \"Geral\")\n    if (linkFinal.includes('/mais-vendidos/') || titulo.includes(\"Preferências de cookies\")) continue;\n\n    // Identifica a Seção via campanha\n    let secaoIdentificada = \"\";\n    const matchCampanha = linkFinal.match(/c_campaign=([^&]+)/);\n    \n    if (matchCampanha) {\n        secaoIdentificada = matchCampanha[1].replace(/-/g, ' ');\n        secaoIdentificada = secaoIdentificada.charAt(0).toUpperCase() + secaoIdentificada.slice(1);\n    } else {\n        // Se não tem campanha no link, provavelmente é um link institucional ou menu\n        continue; \n    }\n\n    if (!secoesMap[secaoIdentificada]) {\n        secoesMap[secaoIdentificada] = [];\n    }\n\n    // Limite de 10 por seção\n    if (secoesMap[secaoIdentificada].length >= 10) continue;\n\n    const matchPreco = pedacoTexto.match(/\"price\":([\\d.]+)/);\n    const matchFoto = pedacoTexto.match(/\"thumbnail\":\"(.*?)\"/);\n    \n    let precoFormatado = matchPreco ? \n        parseFloat(matchPreco[1]).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : \n        \"Sob consulta\";\n        \n    const fotoFinal = matchFoto ? matchFoto[1].replace(/\\\\u002F/g, '/') : \"Sem foto\";\n\n    secoesMap[secaoIdentificada].push({\n        secao: secaoIdentificada,\n        produto: titulo,\n        preco: precoFormatado,\n        foto: fotoFinal,\n        link: linkFinal\n    });\n}\n\n// ORGANIZAÇÃO FINAL\nconst resultadosFinais = [];\n// Corrigido de 'em' para 'in'\nfor (const secao in secoesMap) {\n    secoesMap[secao].forEach((item, index) => {\n        resultadosFinais.push({\n            json: {\n                ranking_na_secao: index + 1,\n                ...item\n            }\n        });\n    });\n}\n\nreturn resultadosFinais;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        32
      ],
      "id": "a0483f5b-8607-4134-bb8b-3fcefbe76b03",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.ranking_na_secao }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.secao }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json.preco.replace(/[^\\d,]/g, '').replace(',', '.') }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        32
      ],
      "id": "fe15d005-f521-4001-bd35-6b4c0d422695",
      "name": "MercadoLivre",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        656,
        32
      ],
      "id": "8a274893-3a9d-411e-8242-fb7b54aca5c4",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.Ranking }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.Seção }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.Produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json['Preço'] }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.Foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/LL/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        32
      ],
      "id": "e7c02ba9-b8b2-4f1f-aad1-478624844703",
      "name": "MercadoLivre1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro-lista",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        -400
      ],
      "id": "1fe63448-d792-423c-9b25-69ce179e9037",
      "name": "Webhook",
      "webhookId": "774b8288-55f3-43b1-a75d-d63705a36f57",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        352,
        -400
      ],
      "id": "542dda61-893e-4f47-860c-8e277f1f42ad",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "platform"
            },
            {
              "fieldName": "category"
            },
            {
              "fieldName": "ranking"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -16,
        -400
      ],
      "id": "7fd2c4ae-ec6d-410c-bd7f-21c44202cc0b",
      "name": "Sort1"
    },
    {
      "parameters": {
        "content": "## Lista de Trasmissão\n\n### Emails participantes Tred Hunter, vão receber a lista diariamente",
        "height": 352,
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -560
      ],
      "typeVersion": 1,
      "id": "0c3c1a36-b191-4429-94ee-0cd7f454a7c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "=samuelobt@gmail.com, andrezaaslopes2@gmail.com",
        "subject": "🔥 Radar Hunter: Os produtos mais quentes do Brasil HOJE",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #eee;\">\n  \n  <div style=\"background-color: #000; padding: 15px; text-align: center;\">\n    <h1 style=\"color: #d4ff3f; margin: 0; font-size: 22px; letter-spacing: 1px;\">TRENDHUNTER</h1>\n  </div>\n\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: auto; background-color: #f4f7f6; padding: 20px; border-radius: 15px;\">\n\n  \n\n  <div style=\"text-align: center; padding-bottom: 20px;\">\n\n    <h2 style=\"color: #1a1a1a; margin-bottom: 5px;\">🚀 Relatório Diário</h2>\n\n    <p style=\"color: #666; font-size: 14px;\">As melhores oportunidades encontradas em {{ $json.data[0].data }}</p>\n\n  </div>\n\n\n\n  {{ $json.data.map(item => `\n\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: white; border: 1px solid #e0e0e0; border-radius: 12px; margin-bottom: 15px; overflow: hidden;\">\n\n      <tr>\n\n        <td width=\"120\" style=\"padding: 15px; text-align: center; background-color: #fff;\">\n\n          <img src=\"${item.image_url}\" width=\"100\" style=\"border-radius: 5px; display: block; margin: auto; object-fit: contain;\">\n\n        </td>\n\n        \n\n        <td style=\"padding: 15px; vertical-align: top;\">\n\n          <div style=\"background: ${item.platform === 'Amazon' ? '#ff9900' : '#ffe600'}; color: #000; display: inline-block; padding: 3px 10px; border-radius: 20px; font-weight: bold; font-size: 10px; text-transform: uppercase;\">\n\n            ${item.platform} | #${item.ranking} no Ranking\n\n          </div>\n\n          \n\n          <strong style=\"font-size: 15px; color: #2c3e50; display: block; margin: 10px 0 5px 0; line-height: 1.4;\">\n\n            ${item.name.replace(/&#x27;/g, \"'\")}\n\n          </strong>\n\n          \n\n          <span style=\"color: #95a5a6; font-size: 12px; display: block; margin-bottom: 15px;\">Categoria: ${item.category}</span>\n\n          \n\n          <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n\n            <tr>\n\n              <td>\n\n                <span style=\"color: #27ae60; font-weight: bold; font-size: 20px;\">\n\n                  R$ ${item.price_current.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n\n                </span>\n\n              </td>\n\n              <td align=\"right\">\n\n                <a href=\"${item.url}\" style=\"background-color: #2980b9; color: white; text-decoration: none; padding: 8px 18px; border-radius: 8px; font-size: 13px; font-weight: bold; display: inline-block;\">\n\n                  Ver Oferta\n\n                </a>\n\n              </td>\n\n            </tr>\n\n          </table>\n\n        </td>\n\n      </tr>\n\n    </table>\n\n  `).join('') }}\n\n\n\n  <div style=\"text-align: center; color: #95a5a6; font-size: 11px;\">\n<p>Monitoramento automático via <strong>Trend Hunter</strong></p>\n   \n  </div>\n</div>\n <div style=\"background-color: #000; padding: 15px; text-align: center;\">\n    <a href=\"URL_DA_SUA_PLATAFORMA_AQUI\" style=\"background-color: #d4ff3f; color: #000; text-decoration: none; padding: 10px 25px; border-radius: 5px; font-weight: bold; font-size: 14px; display: inline-block; border: 1px solid #000;\">\n      💻 ACESSAR PLATAFORMA COMPLETA\n    </a>\n</div>\n",
        "options": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        -400
      ],
      "id": "5aa3ba15-9be8-42eb-87c8-bc0f36bd54c3",
      "name": "Lista Prime",
      "webhookId": "98a92b05-462f-4324-8974-c985d6313637",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfZ47XQtjemP0EOz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -400
      ],
      "id": "fea3f99b-5d32-42a3-8c30-2df2e9475a2a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Email Bem Vindo Site\n\n### Emails De boas vindas vindo da pagina web, Teste Gratis vão receber uma vez so.",
        "height": 352,
        "width": 1248,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -560
      ],
      "typeVersion": 1,
      "id": "cde0b263-ed81-4816-bc3f-ba8ce6f0ce44",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Busca dos produtos ML\n\n### Raspagem do site ML dos produtos mais vendidos, salva do o Supabase.\n",
        "height": 320,
        "width": 1664
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -112
      ],
      "typeVersion": 1,
      "id": "150583fe-af5a-4f09-b05c-3b1e75cf0be6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://www.amazon.com.br/bestsellers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\"Chromium\";v=\"122\", \"Not(A:Brand\";v=\"24\", \"Google Chrome\";v=\"122\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        352
      ],
      "id": "2f8c3ad1-68c1-4575-929f-764f29584481",
      "name": "Amazon Best Sellers"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Amazon Best Sellers — Extrator Avançado (v2.0)\n// n8n Code Node | Melhora: Departamentos, Rankings e Imagens\n// ============================================================\n\nconst html = items[0].json.data;\n\nif (!html) {\n  throw new Error('Nenhum HTML recebido. Verifique o nó anterior.');\n}\n\nconst products = [];\n\n/**\n * 1. Divide o HTML em blocos por categoria.\n * Procura pelo cabeçalho \"Mais Vendidos em [NOME]\" e pega o conteúdo até a próxima seção.\n */\nconst sectionRegex = /<h2[^>]*class=\"[^\"]*a-carousel-heading[^\"]*\"[^>]*>Mais Vendidos em ([^<]+)<\\/h2>([\\s\\S]*?)(?=<h2[^>]*class=\"[^\"]*a-carousel-heading|$)/g;\n\nlet sectionMatch;\nwhile ((sectionMatch = sectionRegex.exec(html)) !== null) {\n  const categoryName = sectionMatch[1].trim();\n  const sectionHtml = sectionMatch[2];\n\n  /**\n   * 2. Extrai os cards de produtos dentro desta seção específica.\n   * Regex atualizado para incluir a captura da imagem (src).\n   */\n  const cardRegex = /data-asin=\"([^\"]+)\"[\\s\\S]*?zg-bdg-text[^>]*>#(\\d+)<\\/span[\\s\\S]*?<img[^>]*src=\"([^\"]+)\"[\\s\\S]*?p13n-sc-line-clamp[^>]*>([\\s\\S]*?)<\\/div[\\s\\S]*?p13n-sc-price[^>]*>([\\s\\S]*?)<\\/span/g;\n\n  let cardMatch;\n  while ((cardMatch = cardRegex.exec(sectionHtml)) !== null) {\n    const asin     = cardMatch[1];\n    const ranking  = parseInt(cardMatch[2], 10);\n    const imageUrl = cardMatch[3];\n    const rawName  = cardMatch[4];\n    const rawPrice = cardMatch[5];\n\n    // Limpeza de Nome\n    const name = rawName\n      .replace(/<[^>]+>/g, '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    // Limpeza e normalização do preço (Mantendo sua lógica original)\n    const priceStr = rawPrice.replace(/<[^>]+>/g, '').trim();\n    const priceNum = parseFloat(\n      priceStr\n        .replace(/R\\$\\s*/g, '')\n        .replace(/\\./g, '')\n        .replace(/,/g, '.')\n    ) || null;\n\n    const url = `https://www.amazon.com.br/dp/${asin}`;\n\n    // Adiciona o produto garantindo que o ranking está atrelado a esta categoria\n    products.push({\n      ranking,\n      category: categoryName,\n      name,\n      price: priceNum,\n      price_raw: priceStr,\n      image: imageUrl,\n      asin,\n      url,\n      scraped_at: new Date().toISOString()\n    });\n  }\n}\n\n// 3. Ordenação final para garantir organização no n8n\nproducts.sort((a, b) => a.category.localeCompare(b.category) || a.ranking - b.ranking);\n\n// 4. Retorna como itens individuais\nreturn products.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        352
      ],
      "id": "9e92854e-358d-4095-9635-665539ce3f1a",
      "name": "Process Amazon"
    },
    {
      "parameters": {
        "content": "## Busca dos produtos Amazon\n\n### Raspagem do site Amazon dos produtos mais vendidos, salva do o Supabase.\n",
        "height": 592,
        "width": 1664,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        208
      ],
      "typeVersion": 1,
      "id": "e87dd268-8dc0-48ac-ba8b-d0aae27079a8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.ranking }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json.price_raw.replace(/[^\\d,]/g, '').replace(',', '.') }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Amazon",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "776ec5f6-e140-405e-92d5-f1d93d997a13",
              "name": "LinkAfiliado",
              "value": "=https://www.amazon.com.br/dp/{{ $json.asin }}?tag=huntertrend0c-20",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        352
      ],
      "id": "73c7ef49-ec73-4b60-90ac-684a38b48465",
      "name": "Edit Amazon",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "products_trend",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.Loja }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.Produto }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json[\"Seção\"] }}"
            },
            {
              "fieldId": "ranking",
              "fieldValue": "={{ $json.Ranking }}"
            },
            {
              "fieldId": "price_current",
              "fieldValue": "={{ $json[\"Preço\"] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.Foto }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.Link }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $json.Data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        352
      ],
      "id": "ad3fdebc-701a-4e89-a8e4-ee2d4634c59a",
      "name": "Create a row Amazon",
      "credentials": {
        "supabaseApi": {
          "id": "up7gbGyuVDUYJBzt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "products_trend",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.Loja }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.Produto }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json[\"Seção\"] }}"
            },
            {
              "fieldId": "ranking",
              "fieldValue": "={{ $json.Ranking }}"
            },
            {
              "fieldId": "price_current",
              "fieldValue": "={{ $json[\"Preço\"] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.Foto }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.Link }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $json.Data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        32
      ],
      "id": "43ad8e9f-c3c2-4627-83e2-06d0e3a5ada8",
      "name": "Create a row ML",
      "credentials": {
        "supabaseApi": {
          "id": "up7gbGyuVDUYJBzt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products_trend",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "data",
              "condition": "eq",
              "keyValue": "={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        -400
      ],
      "id": "bda92100-300b-49c6-85d9-541c5ed0714f",
      "name": "Consulta dados",
      "credentials": {
        "supabaseApi": {
          "id": "up7gbGyuVDUYJBzt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cbdfea1-f006-4ad1-bdda-71cad4de3087",
              "leftValue": "={{ $json.ranking }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        176,
        -400
      ],
      "id": "ba5757d6-2b0d-4ac0-8505-7e5a1655170a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        -400
      ],
      "id": "fe1ac5ef-b5f7-4ea7-bc2c-34d1748535ac",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "platform"
            },
            {
              "fieldName": "category"
            },
            {
              "fieldName": "ranking"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1216,
        -400
      ],
      "id": "81a3f068-b9b2-4293-bd50-b1a7d565fa50",
      "name": "Sort2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products_trend",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "data",
              "condition": "eq",
              "keyValue": "={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        -400
      ],
      "id": "2bc2b9fd-c445-4a92-8e76-7dd28343c348",
      "name": "Consulta dados1",
      "credentials": {
        "supabaseApi": {
          "id": "up7gbGyuVDUYJBzt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cbdfea1-f006-4ad1-bdda-71cad4de3087",
              "leftValue": "={{ $json.ranking }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1392,
        -400
      ],
      "id": "32355584-230b-48e6-80a7-a78eb5aac527",
      "name": "Filter2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "🚀 Bem-vindo ao ML Trend Hunter",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: auto; background-color: #f4f7f6; padding: 20px; border-radius: 15px;\">\n  \n  <div style=\"text-align: center; padding-bottom: 20px;\">\n    <h2 style=\"color: #1a1a1a; margin-bottom: 5px;\">🚀 Trend Hunter: Relatório Diário</h2>\n    <p style=\"color: #666; font-size: 14px;\">As melhores oportunidades encontradas em {{ $json.data[0].data }}</p>\n  </div>\n\n  {{ $json.data.map(item => `\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: white; border: 1px solid #e0e0e0; border-radius: 12px; margin-bottom: 15px; overflow: hidden;\">\n      <tr>\n        <td width=\"120\" style=\"padding: 15px; text-align: center; background-color: #fff;\">\n          <img src=\"${item.image_url}\" width=\"100\" style=\"border-radius: 5px; display: block; margin: auto; object-fit: contain;\">\n        </td>\n        \n        <td style=\"padding: 15px; vertical-align: top;\">\n          <div style=\"background: ${item.platform === 'Amazon' ? '#ff9900' : '#ffe600'}; color: #000; display: inline-block; padding: 3px 10px; border-radius: 20px; font-weight: bold; font-size: 10px; text-transform: uppercase;\">\n            ${item.platform} | #${item.ranking} no Ranking\n          </div>\n          \n          <strong style=\"font-size: 15px; color: #2c3e50; display: block; margin: 10px 0 5px 0; line-height: 1.4;\">\n            ${item.name.replace(/&#x27;/g, \"'\")}\n          </strong>\n          \n          <span style=\"color: #95a5a6; font-size: 12px; display: block; margin-bottom: 15px;\">Categoria: ${item.category}</span>\n          \n          <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n            <tr>\n              <td>\n                <span style=\"color: #27ae60; font-weight: bold; font-size: 20px;\">\n                  R$ ${item.price_current.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n                </span>\n              </td>\n              <td align=\"right\">\n                <a href=\"${item.url}\" style=\"background-color: #2980b9; color: white; text-decoration: none; padding: 8px 18px; border-radius: 8px; font-size: 13px; font-weight: bold; display: inline-block;\">\n                  Ver Oferta\n                </a>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  `).join('') }}\n\n  <div style=\"background: linear-gradient(135deg, #2c3e50, #000); color: #fff; padding: 25px; border-radius: 12px; margin-top: 30px; text-align: justify; border: 2px solid #d4ff3f;\">\n    <h3 style=\"color: #d4ff3f; margin-top: 0;\">💎 Quer ter acesso a lista completa</h3>\n    <p style=\"font-size: 14px; line-height: 1.6; margin-bottom: 20px;\">\n      Este é apenas um resumo. Assine o <strong>Plano Prime</strong> e tenha acesso a toda plataforma com dashboard em tempo real com centenas de produtos minerados. </br> Descubra em tempo real o que o Brasil está comprando!\n    </p>\n    \n    <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; font-size: 14px; text-align: left; border-left: 4px solid #d4ff3f;\">\n      <strong>Valor:</strong> R$ 47,00/mês<br>\n      <strong>Chave PIX:</strong> sua-chave-aqui@email.com<br>\n      <strong>Beneficiário:</strong> Samuel Olavo\n    </div>\n\n    <p style=\"font-size: 12px; margin-top: 20px; color: #bdc3c7;\">\n      Envie o comprovante em anexo para liberar seu acesso imediatamente.\n    </p>\n  </div>\n\n  <div style=\"text-align: center; margin-top: 20px; color: #95a5a6; font-size: 11px;\">\n    <p>Monitoramento automático via <strong>Trend Hunter</strong></p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1776,
        -400
      ],
      "id": "1854f7ff-6372-44c7-9a2d-8d1e8d915a6f",
      "name": "Boas Vindas1",
      "webhookId": "98a92b05-462f-4324-8974-c985d6313637",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfZ47XQtjemP0EOz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003894399410",
        "text": "=<a href=\"{{ $json.Foto }}\">‎</a>\n✨ <b>OFERTA IMPERDÍVEL ENCONTRADA!</b> ✨\n\n📦 <b>Produto:</b>\n<code>{{ $json.Produto }}</code>\n\n💰 <b>Preço Especial:</b>\n<pre>R$ {{ $json.Preço }}</pre>\n\n📌 <i>Corra antes que o estoque acabe!</i>\n<b>Acesse pelo link oficial:</b>\n{{ $json.LinkAfiliado }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 IR PARA A LOJA",
                    "additionalFields": {
                      "url": "={{ $json.LinkAfiliado }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        560
      ],
      "id": "e67976de-667a-4a0d-b197-89e836e93b7a",
      "name": "Send a text message",
      "webhookId": "d97e63db-2fd3-4309-95bc-7cec9c8ca858",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "telegramApi": {
          "id": "9lwIgrXSojYb0Wiv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        544
      ],
      "id": "6cf6c6c4-9655-4598-8632-86ed4ec6a6ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        560
      ],
      "id": "9231d98a-d925-4d85-9275-7fc8221f8b8f",
      "name": "Wait",
      "webhookId": "a70f88b6-fd87-4f74-b397-ebbdc0c4b348"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Mercado libre",
            "type": "main",
            "index": 0
          },
          {
            "node": "Amazon Best Sellers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado libre": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "MercadoLivre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MercadoLivre": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "MercadoLivre1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MercadoLivre1": {
      "main": [
        [
          {
            "node": "Create a row ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Consulta dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Lista Prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Consulta dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amazon Best Sellers": {
      "main": [
        [
          {
            "node": "Process Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Amazon": {
      "main": [
        [
          {
            "node": "Edit Amazon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Amazon": {
      "main": [
        [
          {
            "node": "Create a row Amazon",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta dados": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Boas Vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta dados1": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3754197a-be58-4a70-9da4-2c221396c47a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e643c61781c93259041bbaff542c7a95926c7cf9887e347273fa29e70238fd32"
  },
  "id": "tBj2CnmKPW0UEDpA",
  "tags": []
}